/* HomePage.css */

/* Container principal da home page */
.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centraliza o conteúdo verticalmente */
  align-items: center;      /* Centraliza o conteúdo horizontalmente */
  height: 100vh;            /* Ocupa a altura inteira da tela */
  margin-top: -200px;        /* Afastar o conteúdo do centro para cima */
  text-align: center;       /* Garantir que o texto fique centralizado */
}
.home-page-container h2 {
  margin-bottom: 50px; /* Ajuste o valor conforme necessário */
}


/* Estilo para os links e botões */
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaçamento entre os botões */
}

.action-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333; /* Cor do botão */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #333;
}
