.home-page-container {
  padding: 20px;
  position: relative;
}

.nav-links {
  margin-top: 20px;
}

.action-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.action-button:hover {
  background-color: #333;
}

.author-info {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.author-text {
  margin-right: 10px;
  font-size: 16px;
  color: #fff;
}

.linkedin-button {
  background-color: #0077b5;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.linkedin-button:hover {
  background-color: #005582;
}

.linkedin-button svg {
  color: white;
}

